/* Consistent baseline for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Element’s width and height include its padding and border, but not its margin */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
